# Testing
pytest==3.2.1
pytest-cov==2.5.1
mock==2.0.0
responses==0.8.1
testfixtures==5.1.1

# Linting
flake8==3.3.0

# Security scanning
bandit>=1.1.0 # Apache-2.0

#application
python-dateutil==2.6.1
requests==2.9.1
simplejson==3.8.1
pyyaml==3.12
prometheus-client==0.2.0

